<% layout('layouts/boilerplate')%>



<div class="col-6 offset-3">
	<h2>Register</h2>
<form action="/register" method="post" class="validated-form" novalidate> 
	<div class="mb-3">
		<label class="form-label" for="username">Username </label>
		<input type="text" class="form-control"  class="mb-3" name="username" id="username" required>
	</div>
	<div class="mb-3">
		<label class="form-label" for="email">Email </label>
		<input type="email" class="form-control"  class="mb-3" name="email" id="email" required>
	</div>
	<div class="mb-3">
		<label class="form-label" for="password">Password </label>
		<input type="password" class="form-control"  class="mb-3" name="password" id="password" required>
	</div>
	<button class="btn btn-success">Register</button>
</form>
</div>